#cajapadre {
    display: flex;
    width: 600px;
    height: 200px;
    border: 1px solid;
    flex-wrap: wrap;
    align-content: flex-start;
    
}
#cajapadre > div {
    height: 40px;
    margin: 5px;
    background-color: #ccc;

}
#caja-1{
    flex: 1 1 100px;
}
#caja-2{
    flex: 1 1 100px;
}
#caja-3{
    flex: 1 1 100px;
}
#caja-4{
    flex: 1 1 400px;
}