* {
    margin: 0;
    padding: 0;
}
#cabeceralogo {
    width: 96%;
    height: 150px;
    padding: 0% 2%;
    background-color: #0F76A0;
}
#cabeceralogo > div {
    width: 960px;
    margin: 0 auto;
    padding-top: 45px;
}
#cabeceralogo h1 {
    font: bold 54px Arial, Helvetica, sans-serif;
    color: #fff;
}