#articulonoticias {
    width: 580px;
    padding: 10px;
    border: 1px solid;
    column-count: 2;
    column-gap: 20px;
    column-rule-style: dashed;
    column-rule-width: 5px;
    column-rule-color: #000;
}