body {
    margin: 0;
    padding: 0;
    background-image: url(playa-de-maldivas-j0c8oslnjo96ayr4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div {
    box-sizing: border-box;
}
.recuperar {
    clear: both; 
}
#cabeceralogo {
    background-color: #35424a;
    color: #ffffff; 
    padding: 20px;
    text-align: center; 
}
#cabeceralogo h1 {
    margin: 0;
}
#menuprincipal {
    background-color: #e0e0e0;
    padding: 10px 0;
}
#menuprincipal ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
#menuprincipal li {
    display: inline;
}
#menuprincipal a {
    color: #000000;
    padding: 10px 15px;
}
main {
    width: 80%; 
    margin: 20px auto;
}
main > div {
    display: flex;
    flex-wrap: wrap;
}
#articulosprincipales {
    flex: 3; 
    margin-right: 20px; 
}
#articulosprincipales article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#articulosprincipales article h1 {
    margin-left: 10px;
    color: #000000;
    font-size: 30px;
    margin-top: 0;
}
article {
    position: relative;
    padding: 0px 40px 20px 40px;
}

article time {
    display: block;
    position: absolute;
    top: -5px;
    left: -70px;
    width: 80px;
    padding: 15px 5px;
    background-color: #094660;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 5px;
}
#articulosprincipales figure img {
    width: 100%;
    height: auto;
}
section + h1 {
    margin-right: 10px;
}
#infoadicional {
    flex: 1;
    background-color: #ffbb55;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: fit-content; 
}
#pielogo {
    background-color: #35424a; 
    color: #ffffff; 
    padding: 20px 0;
    text-align: center;
}
#pielogo div {
    width: 80%;
    margin: auto; 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}
#pielogo h1 {
    font-size: 30px;
}
#pielogo section {
    margin: 10px 20px;
    text-align: left;
}
#pielogo p, #pielogo address {
    margin: 5px 0;
    font-size: 0.9em;
}
#pielogo a {
    color: #ffffff; 
}
#pielogo small {
    display: block; 
    margin-top: 20px;
    font-size: 15px;
    color: #ccc; 
}
time {
    display: flex;
    align-items: center; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}
.numerodia {
    font: bold 36px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    }
.nombredia {
    font: 12px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}